<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gallery of Greats</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=PT+Sans+Narrow:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
    <h1>Gallery of Greats</h1>
    <a href="javascript:void(0)" class="logo">
        <img id="logo-img" src="{{ url_for('static', filename='picture/photo.png') }}" alt="Logo">
    </a>

    <div id="flash-overlay"></div> <!-- Оверлей для вспышки -->

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const logoImg = document.getElementById("logo-img");
            const flashOverlay = document.getElementById("flash-overlay");

            // Добавляем обработчик события клика
            logoImg.addEventListener("click", function() {
                // Плавно запускаем вспышку
                flashOverlay.classList.add("flash-animation");

                // Переход на новую страницу по завершении анимации
                setTimeout(function() {
                    window.location.href = "{{ url_for('black_page') }}";
                }, 500); // Задержка 0.5 секунды перед переходом
            });
        });
    </script>
</body>
</html>