{% extends 'base.html' %}

{% block content %}
    <div class="">
        {% if current_user.is_authenticated and current_user.role == 'admin' %}
            <a href="{{ url_for('add_photo') }}">Add photo</a>
        {% endif %}
    </div>

    <div class="gallery">
        {% for photo in photos %}
            <div class="card">
                <a href="{{ url_for('photo_detail', photo_id=photo.id) }}">
                    <div class="card-overlay">
                        <img src="{{ url_for('static', filename='photos/' + photo.image_uuid + '.' + photo.image_ext) }}" alt="{{ photo.title }}">
                        <span class="card-title">{{ photo.title }}</span>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock %}
